body,p,pre,ul,h1,h2,h3,h4,h5,h6,ol,dl,dt,dd,input,figure,a
{padding:0px;margin:0px;}
img{border: none;}
*{box-sizing:border-box;}
a{display: block;}
html{font-size: 100px}
body{background-color: #f2f2f2;}
input{margin: 0;padding: 0;border: none;}
@media screen and (max-width: 320px) {
    html{font-size: 42.6667px;}
    .header{width:100%;height:1.4rem;background-color: #29a6dc;}
    .head{width:5.71rem;height:0.84rem;background-color: #2a3441;margin: 0 auto;float: left;margin-left: 0.9rem;margin-top: 0.48rem;border-radius: 0.42rem;}
    .jxty{width:1.61rem;height:0.66rem;background-color: #29a6dc;float: left;margin-left: 0.13rem;margin-top: 0.09rem;border-radius: 0.33rem;border:2px solid white;}
    .jx{width:0.64rem;height:0.24rem;margin: 0 auto;margin-top:0.15rem;text-align: center;line-height: 0.24rem;color: #ffffff;font-size: 0.24rem;}
    .yw{width:0.75rem;height:0.12rem;margin: 0 auto;background-image: url(images/yw.png);background-size: 100% 100%;margin-top: 0.02rem;}
    .k2{width:1.94rem;height:0.59rem;float: left;margin-top: 0.12rem;margin-left: 0.2rem;border-left: 1px solid #c4c4c4;border-right: 1px solid #c4c4c4;}
    .bd{width:0.57rem;height:0.38rem;margin: 0 auto;margin-top: 0.08rem;}
    .bdz{width:0.57rem;height:0.22rem;font-size: 0.2rem;text-align: center;color: #ffffff;}
    .yw2{width:0.57rem;height:0.14rem;font-size: 0.1rem;text-align: center;color: #a4d2ea;margin-top: 0.02rem} 
    .k3{width:0.57rem;height:0.38rem;float: left;margin-left: 0.66rem;margin-top: 0.2rem;}
    .fl{width:0.57rem;height:0.22rem;font-size: 0.2rem;text-align: center;color: #ffffff;}
    .yw3{width:0.57rem;height:0.14rem;font-size: 0.1rem;text-align: center;color: #a4d2ea;margin-top: 0.02rem}
    .ss{width:0.44rem;height:0.44rem;float: right;margin-right: 0.24rem;margin-top: 0.68rem;background-image: url(images/ss.png);background-size: 100% 100%;}
    .mid{width:100%;height:4.83rem;background-color: red;background-image: url(images/mid.png);background-size: 100% 100%;}
    .dk{width:0.49rem;height:0.1rem;margin: 0 auto;margin-top: 0.13rem;}
    .d1{width:0.08rem;height:0.08rem;border-radius: 50%;background-color: #0090ff;margin-top: 0.01rem;float: left;margin-left: 0.01rem;}
    .d2{width:0.08rem;height:0.08rem;border-radius: 50%;margin-top: 0.01rem;float: left;margin-left: 0.11rem;border:1px solid #0090ff;}
    .d3{width:0.08rem;height:0.08rem;border-radius: 50%;margin-top: 0.01rem;float: left;margin-left: 0.12rem;border:1px solid #0090ff;}
    .zxk{width:2.12rem;height:0.8rem;float: left;margin-left: 0.24rem;}
    .logo{width:0.3rem;height:0.3rem;float: left;margin-left: 0.14rem;margin-top: 0.06rem;background-image: url(images/logo.png);background-size: 100% 100%;}
    .zxsj{width:1.3rem;height:0.3rem;float: left;margin-left: 0.11rem;margin-top: 0.06rem;font-size: 0.24rem;color: #333333;text-align: center;line-height: 0.3rem;}
    .new{width:2.12rem;height:0.3rem;font-size: 0.24rem;color: #333333;float: left;padding-left: 0.7rem;line-height: 0.3rem;}
    .ts{width:7.02rem;height:7.70rem;float: left;margin-left: 0.24rem;background-color:#f2f2f2;}
    .ts1{width:7.02rem;height:3.85rem;}
    .ts2{width:7.02rem;height:3.85rem;}
    .ts1-1{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.28rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color:#f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}

    .ts1-2{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.61rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color: #f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}

    .ts1-3{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.61rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color:#f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}
    .bottom{width:100%;height:1rem;float: left;background-image: url(images/bottom.png);background-size: 100% 100%;}
}
@media screen and (min-width: 360px) {
    html{font-size: 48px;}
    .header{width:100%;height:1.4rem;background-color: #29a6dc;}
    .head{width:5.71rem;height:0.84rem;background-color: #2a3441;margin: 0 auto;float: left;margin-left: 0.9rem;margin-top: 0.48rem;border-radius: 0.42rem;}
    .jxty{width:1.61rem;height:0.66rem;background-color: #29a6dc;float: left;margin-left: 0.13rem;margin-top: 0.09rem;border-radius: 0.33rem;border:2px solid white;}
    .jx{width:0.64rem;height:0.24rem;margin: 0 auto;margin-top:0.15rem;text-align: center;line-height: 0.24rem;color: #ffffff;font-size: 0.24rem;}
    .yw{width:0.75rem;height:0.12rem;margin: 0 auto;background-image: url(images/yw.png);background-size: 100% 100%;margin-top: 0.02rem;}
    .k2{width:1.94rem;height:0.59rem;float: left;margin-top: 0.12rem;margin-left: 0.2rem;border-left: 1px solid #c4c4c4;border-right: 1px solid #c4c4c4;}
    .bd{width:0.57rem;height:0.38rem;margin: 0 auto;margin-top: 0.08rem;}
    .bdz{width:0.57rem;height:0.22rem;font-size: 0.2rem;text-align: center;color: #ffffff;}
    .yw2{width:0.57rem;height:0.14rem;font-size: 0.1rem;text-align: center;color: #a4d2ea;margin-top: 0.02rem} 
    .k3{width:0.57rem;height:0.38rem;float: left;margin-left: 0.66rem;margin-top: 0.2rem;}
    .fl{width:0.57rem;height:0.22rem;font-size: 0.2rem;text-align: center;color: #ffffff;}
    .yw3{width:0.57rem;height:0.14rem;font-size: 0.1rem;text-align: center;color: #a4d2ea;margin-top: 0.02rem}
    .ss{width:0.44rem;height:0.44rem;float: right;margin-right: 0.24rem;margin-top: 0.68rem;background-image: url(images/ss.png);background-size: 100% 100%;}
    .mid{width:100%;height:4.83rem;background-color: red;background-image: url(images/mid.png);background-size: 100% 100%;}
    .dk{width:0.49rem;height:0.1rem;margin: 0 auto;margin-top: 0.13rem;}
    .d1{width:0.08rem;height:0.08rem;border-radius: 50%;background-color: #0090ff;margin-top: 0.01rem;float: left;margin-left: 0.01rem;}
    .d2{width:0.08rem;height:0.08rem;border-radius: 50%;margin-top: 0.01rem;float: left;margin-left: 0.11rem;border:1px solid #0090ff;}
    .d3{width:0.08rem;height:0.08rem;border-radius: 50%;margin-top: 0.01rem;float: left;margin-left: 0.12rem;border:1px solid #0090ff;}
    .zxk{width:2.12rem;height:0.8rem;float: left;margin-left: 0.24rem;}
    .logo{width:0.3rem;height:0.3rem;float: left;margin-left: 0.14rem;margin-top: 0.06rem;background-image: url(images/logo.png);background-size: 100% 100%;}
    .zxsj{width:1.3rem;height:0.3rem;float: left;margin-left: 0.11rem;margin-top: 0.06rem;font-size: 0.24rem;color: #333333;text-align: center;line-height: 0.3rem;}
    .new{width:2.12rem;height:0.3rem;font-size: 0.24rem;color: #333333;float: left;padding-left: 0.7rem;line-height: 0.3rem;}
    .ts{width:7.02rem;height:7.70rem;float: left;margin-left: 0.24rem;background-color:#f2f2f2;}
    .ts1{width:7.02rem;height:3.85rem;}
    .ts2{width:7.02rem;height:3.85rem;}
    .ts1-1{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.28rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color:#f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}

    .ts1-2{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.61rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color: #f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}

    .ts1-3{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.61rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color:#f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}
    .bottom{width:100%;height:1rem;float: left;background-image: url(images/bottom.png);background-size: 100% 100%;}
}







	




@media screen and (min-width: 375px) {
	html{font-size:50px;}
	.header{width:100%;height:1.4rem;background-color: #29a6dc;}
	.head{width:5.71rem;height:0.84rem;background-color: #2a3441;margin: 0 auto;float: left;margin-left: 0.9rem;margin-top: 0.48rem;border-radius: 0.42rem;}
	.jxty{width:1.61rem;height:0.66rem;background-color: #29a6dc;float: left;margin-left: 0.13rem;margin-top: 0.09rem;border-radius: 0.33rem;border:2px solid white;}
	.jx{width:0.64rem;height:0.24rem;margin: 0 auto;margin-top:0.15rem;text-align: center;line-height: 0.24rem;color: #ffffff;font-size: 0.24rem;}
	.yw{width:0.75rem;height:0.12rem;margin: 0 auto;background-image: url(images/yw.png);background-size: 100% 100%;margin-top: 0.02rem;}
	.k2{width:1.94rem;height:0.59rem;float: left;margin-top: 0.12rem;margin-left: 0.2rem;border-left: 1px solid #c4c4c4;border-right: 1px solid #c4c4c4;}
	.bd{width:0.57rem;height:0.38rem;margin: 0 auto;margin-top: 0.08rem;}
	.bdz{width:0.57rem;height:0.22rem;font-size: 0.2rem;text-align: center;color: #ffffff;}
    .yw2{width:0.57rem;height:0.14rem;font-size: 0.1rem;text-align: center;color: #a4d2ea;margin-top: 0.02rem} 
    .k3{width:0.57rem;height:0.38rem;float: left;margin-left: 0.66rem;margin-top: 0.2rem;}
    .fl{width:0.57rem;height:0.22rem;font-size: 0.2rem;text-align: center;color: #ffffff;}
    .yw3{width:0.57rem;height:0.14rem;font-size: 0.1rem;text-align: center;color: #a4d2ea;margin-top: 0.02rem}
    .ss{width:0.44rem;height:0.44rem;float: right;margin-right: 0.24rem;margin-top: 0.68rem;background-image: url(images/ss.png);background-size: 100% 100%;}
    .mid{width:100%;height:4.83rem;background-color: red;background-image: url(images/mid.png);background-size: 100% 100%;}
    .dk{width:0.49rem;height:0.1rem;margin: 0 auto;margin-top: 0.13rem;}
    .d1{width:0.08rem;height:0.08rem;border-radius: 50%;background-color: #0090ff;margin-top: 0.01rem;float: left;margin-left: 0.01rem;}
    .d2{width:0.08rem;height:0.08rem;border-radius: 50%;margin-top: 0.01rem;float: left;margin-left: 0.11rem;border:1px solid #0090ff;}
    .d3{width:0.08rem;height:0.08rem;border-radius: 50%;margin-top: 0.01rem;float: left;margin-left: 0.12rem;border:1px solid #0090ff;}
    .zxk{width:2.12rem;height:0.8rem;float: left;margin-left: 0.24rem;}
    .logo{width:0.3rem;height:0.3rem;float: left;margin-left: 0.14rem;margin-top: 0.06rem;background-image: url(images/logo.png);background-size: 100% 100%;}
    .zxsj{width:1.3rem;height:0.3rem;float: left;margin-left: 0.11rem;margin-top: 0.06rem;font-size: 0.24rem;color: #333333;text-align: center;line-height: 0.3rem;}
    .new{width:2.12rem;height:0.3rem;font-size: 0.24rem;color: #333333;float: left;padding-left: 0.7rem;line-height: 0.3rem;}
    .ts{width:7.02rem;height:7.70rem;float: left;margin-left: 0.24rem;background-color:#f2f2f2;}
    .ts1{width:7.02rem;height:3.85rem;}
    .ts2{width:7.02rem;height:3.85rem;}
    .ts1-1{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.28rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color:#f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}

    .ts1-2{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.61rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color: #f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}

    .ts1-3{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.61rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color:#f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}
    .bottom{width:100%;height:1rem;float: left;background-image: url(images/bottom.png);background-size: 100% 100%;}
}
@media screen and (min-width: 414px) {
    html{font-size: 55.2px;}
        .header{width:100%;height:1.4rem;background-color: #29a6dc;}
    .head{width:5.71rem;height:0.84rem;background-color: #2a3441;margin: 0 auto;float: left;margin-left: 0.9rem;margin-top: 0.48rem;border-radius: 0.42rem;}
    .jxty{width:1.61rem;height:0.66rem;background-color: #29a6dc;float: left;margin-left: 0.13rem;margin-top: 0.09rem;border-radius: 0.33rem;border:2px solid white;}
    .jx{width:0.64rem;height:0.24rem;margin: 0 auto;margin-top:0.15rem;text-align: center;line-height: 0.24rem;color: #ffffff;font-size: 0.24rem;}
    .yw{width:0.75rem;height:0.12rem;margin: 0 auto;background-image: url(images/yw.png);background-size: 100% 100%;margin-top: 0.02rem;}
    .k2{width:1.94rem;height:0.59rem;float: left;margin-top: 0.12rem;margin-left: 0.2rem;border-left: 1px solid #c4c4c4;border-right: 1px solid #c4c4c4;}
    .bd{width:0.57rem;height:0.38rem;margin: 0 auto;margin-top: 0.08rem;}
    .bdz{width:0.57rem;height:0.22rem;font-size: 0.2rem;text-align: center;color: #ffffff;}
    .yw2{width:0.57rem;height:0.14rem;font-size: 0.1rem;text-align: center;color: #a4d2ea;margin-top: 0.02rem} 
    .k3{width:0.57rem;height:0.38rem;float: left;margin-left: 0.66rem;margin-top: 0.2rem;}
    .fl{width:0.57rem;height:0.22rem;font-size: 0.2rem;text-align: center;color: #ffffff;}
    .yw3{width:0.57rem;height:0.14rem;font-size: 0.1rem;text-align: center;color: #a4d2ea;margin-top: 0.02rem}
    .ss{width:0.44rem;height:0.44rem;float: right;margin-right: 0.24rem;margin-top: 0.68rem;background-image: url(images/ss.png);background-size: 100% 100%;}
    .mid{width:100%;height:4.83rem;background-color: red;background-image: url(images/mid.png);background-size: 100% 100%;}
    .dk{width:0.49rem;height:0.1rem;margin: 0 auto;margin-top: 0.13rem;}
    .d1{width:0.08rem;height:0.08rem;border-radius: 50%;background-color: #0090ff;margin-top: 0.01rem;float: left;margin-left: 0.01rem;}
    .d2{width:0.08rem;height:0.08rem;border-radius: 50%;margin-top: 0.01rem;float: left;margin-left: 0.11rem;border:1px solid #0090ff;}
    .d3{width:0.08rem;height:0.08rem;border-radius: 50%;margin-top: 0.01rem;float: left;margin-left: 0.12rem;border:1px solid #0090ff;}
    .zxk{width:2.12rem;height:0.8rem;float: left;margin-left: 0.24rem;}
    .logo{width:0.3rem;height:0.3rem;float: left;margin-left: 0.14rem;margin-top: 0.06rem;background-image: url(images/logo.png);background-size: 100% 100%;}
    .zxsj{width:1.3rem;height:0.3rem;float: left;margin-left: 0.11rem;margin-top: 0.06rem;font-size: 0.24rem;color: #333333;text-align: center;line-height: 0.3rem;}
    .new{width:2.12rem;height:0.3rem;font-size: 0.24rem;color: #333333;float: left;padding-left: 0.7rem;line-height: 0.3rem;}
    .ts{width:7.02rem;height:7.70rem;float: left;margin-left: 0.24rem;background-color:#f2f2f2;}
    .ts1{width:7.02rem;height:3.85rem;}
    .ts2{width:7.02rem;height:3.85rem;}
    .ts1-1{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.28rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color:#f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}

    .ts1-2{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.61rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color: #f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}

    .ts1-3{width:1.79rem;height:3.44rem;background-color: red;float: left;margin-left: 0.61rem;margin-top: 0.29rem;}
    .sj{width:1.79rem;height:2.55rem;background-image: url(images/sj.png);background-size: 100% 100%;}
    .sjzi{width:1.79rem;height:0.89rem;background-color:#f2f2f2;;font-size: 0.08rem;font-family: "苹方常规";}
    .bottom{width:100%;height:1rem;float: left;background-image: url(images/bottom.png);background-size: 100% 100%;}
}
